@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500&display=swap');

body {
	box-sizing: border-box;
	background: #404040;	
	font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

/* Menu De Navegação */
header {
	display: block;
	font-family: 'Poppins', sans-serif;
}

.MenuNavegacao {
	display: block;
	position: fixed;
	width: 100%;
	background: #262626;
	border-top: 7px solid #4b53bc;
	top: 0;
	left: 0;
	right: 0;
}

.MenuNavegacao ul {
	float: right;
	margin-right: 3%;
}

.MenuNavegacao li {
	display: inline-flex;
	list-style: none;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 14pt;
}

.MenuNavegacao a {
	text-decoration: none;
	color: #ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-left: 10px;
	overflow: hidden;
	transition: .5s ease;
	--bg: #262626;
	--hover-bg: #4b53bc;
	--hover-text: #000;
	color: #fff;
	border: 1px solid var(--bg);
	border-radius: 4px;
	background: var(--bg);
}

.MenuNavegacao a:hover { 
		color: #fff;
		transform: translate(-0.25rem,-0.25rem);
		background: var(--hover-bg);
		box-shadow: 4px 4px #404040;
}

.MenuNavegacao a:active {
		transform: translate(0);
  		box-shadow: none;
}

/* Menu De Navegação ID's */
#Btn-Artigos { color: #4b53bc; font-weight: 500; }
#Btn-Artigos:hover { color: #fff; }

#Btn-Dicas { color: #4b53bc; font-weight: 500; }
#Btn-Dicas:hover { color: #fff; }

#Btn-Ferramentas { color: #4b53bc; font-weight: 500; }
#Btn-Ferramentas:hover { color: #fff; }

#Btn-Tutoriais { color: #4b53bc; font-weight: 500; }
#Btn-Tutoriais:hover { color: #fff; }

#Btn-Sobre { color: #4b53bc; font-weight: 500; }
#Btn-Sobre:hover { color: #fff; }

/* Scroll Bar */
body::-webkit-scrollbar {
  width: 10px;               
}

body::-webkit-scrollbar-track {
  background: #1d1d1d;       
}

body::-webkit-scrollbar-thumb {
  background-color: #4b53bc;    
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #7b83eb;
}

/* Barra de Progresso Horizontal */
div#BarraProgressoHorizontal {
	background-color: #262626;
	height: 7px;
	width: 0%;
	top: 0%;
	position: fixed;
}

/* Botao Scroll Top */
div#ScrollTop {
	display: block;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s ease-in;
	position: fixed;	
	bottom: 20px;
	right: 15px;
	background: rgba(75,83,188,1);
	border-radius: 20px;
}

.BtnTop {
	text-decoration: none;
	cursor: pointer;
	padding: 20px;
	color: #ffffff
}

/* Slide Conteudo */
.slideConteudo {
	height: 45vh;
	width: 100%;
	background-color: #1d1d1d;
	justify-content: space-around;
	display: flex;
}

.splide { width: 85%; }

section .image__box img {
	margin-top: 3vh;	
	height: 39vh;
	width: 16vw;
}

.splide__track {
	width: 100%;
}

/* Footer */
.Rodape {
	width: auto;
	color: #ffffff;	
	background: #262626;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 2% 0 3%;
	border-top-left-radius: 100px;
	font-size: 13pt;
	line-height: 20px;
	border-bottom: 7px solid #4b53bc;
}

.h3-roxo {
	color: #4b53bc;
}

.Rodape h3 {
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 15pt;
	font-family: 'Nunito', sans-serif;
}

.Rodape p {
	font-size: 11pt;
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	margin-top: 3px;
}

.Rodape ul {
	width: 25%;
}

.Rodape li {
	list-style: none;
	padding-bottom: 10px;
}

.Rodape ul a {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	display: flex;
	float: left;
	align-items: flex-start;
}

.Rodape-links {
	font-size: 12pt;
	margin-left: 12%;
}

.footer-social {
	padding-left: 0px;
	margin-left: 0px;
}

.Rodape .Rodape-Social a {
	--color: #ffffff;
	--bg: #262626;
	--hover-bg: #4b53bc;
	--hover-text: #000;

	text-decoration: none;
	color: var(--color);
	padding: 10px;
	margin-top: 3px;
	margin-right: 10px;
	overflow: hidden;
	transition: .5s ease;
	border-radius: 50px;
	background: var(--hover-bg);
	height: auto;
	width: auto;
	margin-bottom: 10px;
}

.Rodape-Social a:hover { 
		color: var(--color);
		transform: translate(-0.25rem,-0.25rem);
		background: var(--hover-bg);
		box-shadow: 4px 4px #404040;
}

.Rodape-Social a:active {
		transform: translate(0);
  		box-shadow: 1px;
}

/* Footer Estilização Navegação ID's */
#Btn-Foo-Artigos { color: #4b53bc; font-weight: 600; }
#Btn-Foo-Dicas { color: #4b53bc; font-weight: 600; }
#Btn-Foo-Ferramentas { color: #4b53bc; font-weight: 600; }
#Btn-Foo-Tutoriais { color: #4b53bc; font-weight: 600; }
#Btn-Foo-Sobre { color: #4b53bc; font-weight: 600; }